# Virtual Environment
.venv/
venv/
env/

# Python
__pycache__/
*.pyc
*.pyo

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# Windows
Thumbs.db

# Output files
output/

# CSVs you don't want
*.xlsx

# Logs
*.log